In [ ]:
5+2

7

In [ ]:
print("pranav")

pranav

In [ ]:
text="hello"
print(text)

hello

In [ ]:
text="pranav is awesome"
print(len(text))

17

In [ ]:
text="sdf dfkslj dfsdf kdjfk"

print(len(text.split(' ')))

4

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,23,4):
  print(i*3)

3
15
27
39
51
63

In [ ]:
my_list=[]
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
value=13
if ((value==13) & (value>10)):
  print ("true")

true

In [ ]:
dict_1 = {1:"pune",2:"nagpur",3:"mumbai"}
print(dict_1)

{1: 'pune', 2: 'nagpur', 3: 'mumbai'}

In [ ]:
  A='hi how are you'
for x in A:
   print(x)

h
i

h
o
w

a
r
e

y
o
u

In [ ]:
d = {"a":12,"b":34,"c":"pranav"}
print(d)
type(d)

{'a': 12, 'b': 34, 'c': 'pranav'}

dict

In [ ]:
for i in d.items():
  print(i)

('a', 12)
('b', 34)
('c', 'pranav')

# **TUPLE**

In [ ]:
t1 = (1,2,3,4,5)
t1
type(t1)

tuple

In [ ]:
t1[3]
t1[::-1]
t1[:-3]

(1, 2)

In [ ]:
t1.index(3)

2

In [ ]:
t1.count(2)#counts the no of element passed in the paranthesis from the tuple

1

# **SETS**

In [ ]:
s1 = set()
s1.add(12)
s1.add(43)
s1.add(54)
s1.add(76)
print(s1)

{43, 12, 54, 76}

In [ ]:
s1.add("pk")
print(s1)#its unordered so it may not be in sequence

{'pk', 43, 12, 76, 54}

In [ ]:
s1.add((1,2,3))
print(s1)

{'pk', 43, 12, 76, (1, 2, 3), 54}

In [ ]:
print(1,2,3,   sep = "    ")

1    2    3

In [ ]:
a = 1,
type(a)

tuple

In [ ]:
a  = int(input("first num: "))
b  = int(input("second num: "))
c = input("op: ")

if c == '+':
  print(a+b)
elif c == '-':
  print(a-b)
elif c == '*':
  print(a*b)
else:
  print("invalid entry")

first num: 32
second num: 34
op: +
66

In [ ]:
for i in range(3):
  for j in range(4):
    for k in range(2):
      print(i,j,k, end = "   ")
    print()
  print()

0 0 0   0 0 1
0 1 0   0 1 1
0 2 0   0 2 1
0 3 0   0 3 1

1 0 0   1 0 1
1 1 0   1 1 1
1 2 0   1 2 1
1 3 0   1 3 1

2 0 0   2 0 1
2 1 0   2 1 1
2 2 0   2 2 1
2 3 0   2 3 1

In [ ]:
i = 1
while i<= 10 : 
  if(i%2==0):
    print(i, "is even")
  else:
    print(i, "is odd")
  i += 1

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [ ]:
num = int(input())
flag = False

if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break
if flag == True:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

13
13 is a prime number

# **FUNCTION**

In [ ]:
def wow():
  print("hello, how are you!")

wow()

hello, how are you!

In [ ]:
def add(num1, num2):
  return(num1+num2)
a = add(3,4)
print(a)

7

# **args and kwargs**

In [ ]:
def add(*args):
  return sum(args)
add(1,2)
add(1,2,3,4,5)

15

In [ ]:
def person(**kwargs):
  print(kwargs)
person(name = "pk", age = 13)

{'name': 'pk', 'age': 13}

In [ ]:
def details(*marks, **name):
  print(marks)
  print(name)
#note this is only possible if * is given before ** the vice versa is error
details(90,90, name= 'pk')
details(95,79,96,95,94, name = 'pk', age = 20, hair = "white")

(90, 90)
{'name': 'pk'}
(95, 79, 96, 95, 94)
{'name': 'pk', 'age': 20, 'hair': 'white'}

In [ ]:
a = range(1,6,2)

# **Exception Handling**

In [ ]:
f = open('xrs.txt')
print('hello')

FileNotFoundError: ignored

In [ ]:
try:
  f = open('pqr.txt')#the except block will only execute if try block gives an error
except:
  print('hello!')#if the try block doesnt give any error then *all* except block will be skipped.
print('cool')#regardless the output of the above 2 conditions "cool"  will always be executed

hello!
cool

In [ ]:
try:
    #f = open('xyz.txt')
    # a = b + 10
    print('Hahaha')
except NameError:
    print('variable not defined')
except FileNotFoundError:
    print('File does not exist')
else:
    print('I dont know whats wrong , deal with it yourself')#the else block will only run if try block is error free

Hahaha
I dont know whats wrong , deal with it yourself

In [ ]:
try:
    #f = open('xyz.txt')
    # a = b + 10
    print('Hahaha')
except NameError:
    print('variable not defined')
except FileNotFoundError:
    print('File does not exist')
else:
    print('I dont know whats wrong , deal with it yourself')
finally:
  print('finally block is running')#what ever happens finally block will always execute
print('pranav')

Hahaha
I dont know whats wrong , deal with it yourself
finally block is running
pranav

In [ ]:
# We can even raise our own exception like this
x = 3
if x % 2 != 0:
    raise Exception('Only even numbers allowed')

Exception: ignored

# **List Comprehensions**

In [ ]:
s = 'pranav'
l1 = []
for i in s:
  l1.append(i)
l1

['p', 'r', 'a', 'n', 'a', 'v']

In [ ]:
l1 = ['pk' for i in range(4)]
l1

['pk', 'pk', 'pk', 'pk']

In [ ]:
l1 = ['zoro' for i in s]
l1    # the word zoro got printed 6 times coz the original string s has a length of 6

['zoro', 'zoro', 'zoro', 'zoro', 'zoro', 'zoro']

In [ ]:
l2 = [2*x for x in range(10)]
l2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
l3 = [[1,2,3] for x in range(10)]
l3

[[1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3]]

In [ ]:
l = ['Hello I am John Wick',
    'They Killed my dog',
    'So I killed all of them',
    'We have the best mentor',
    'We will get at least 20lpa package']

ls = [s for s in l if len(s) % 2 == 0]
ls

['Hello I am John Wick',
 'They Killed my dog',
 'We will get at least 20lpa package']

In [ ]:
ls = [s.split()[0] for s in l]
ls      #print first word of every sentence

['Hello', 'They', 'So', 'We', 'We']

In [ ]:
[s.split()[0] for s in l if len(s.split())%2==0]
#print the first word if the sentence contains even number of words

['They', 'So']

In [ ]:
lst = [x ** 2 for x in [x ** 2 for x in range(4)]]
lst

[0, 1, 16, 81]

In [ ]:
lst = [x ** 2 for x in [x ** 2 for x in [x ** 2 for x in range(4)]]]
lst

[0, 1, 256, 6561]

In [ ]:
lst = [[x for x in range(5)] for x in range (5)]
lst

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

# **Collections**

In [ ]:
from collections import Counter

In [ ]:
lst = [1,2,2,2,2,3,3,3,1,2,1,12,3,2,32,1,21,1,223,1]

Counter(lst)

Counter({1: 6, 2: 6, 3: 4, 12: 1, 21: 1, 32: 1, 223: 1})

In [ ]:
Counter('jdbfhbrybghf')

Counter({'b': 3, 'd': 1, 'f': 2, 'g': 1, 'h': 2, 'j': 1, 'r': 1, 'y': 1})

In [ ]:
s = 'I have to leave sir ,as my lapotop is on very very low battery and no electricity due to constant rain, sorry'
c = Counter(s.split())
c

Counter({',as': 1,
         'I': 1,
         'and': 1,
         'battery': 1,
         'constant': 1,
         'due': 1,
         'electricity': 1,
         'have': 1,
         'is': 1,
         'lapotop': 1,
         'leave': 1,
         'low': 1,
         'my': 1,
         'no': 1,
         'on': 1,
         'rain,': 1,
         'sir': 1,
         'sorry': 1,
         'to': 2,
         'very': 2})

In [ ]:
c.most_common(3)#this will show the 3 most commonly occured words in the above sentence

[('to', 2), ('very', 2), ('I', 1)]

# **defaultdict**

In [ ]:
from collections import defaultdict

In [ ]:
d = {1 : 'ABC', 2: 'XYZ'}

In [ ]:
d[2]

'XYZ'

In [ ]:
d[3]

KeyError: ignored

In [ ]:
d1 = defaultdict(str)
d1[1] = 'ABC'
d1[2] = 'PQR'

In [ ]:
d1[1]

'ABC'

In [ ]:
d1[3]   #the use of defaultdict as we can see in above we created a normal dict and we gave a 
#index that is not present and it threw an error but in case of defaultdict it does not throw
# error but gives single quotes with nothing inside as we stated the dict type string

''

In [ ]:
d1 = defaultdict(int)
d1[1] = 5
d1[2] = 2
d1[3] = 'ABC'

In [ ]:
d1[5] #but if we specify the dict type as int then it shows zero for default if the index is not present in the dict

0

# **ordereddict**

In [ ]:
from collections import OrderedDict
od = OrderedDict()

In [ ]:
od['a'] = 1
od['b'] = 2
od['c'] = 3

In [ ]:
od
# as we know that dict are unordered this function allows us to store elements in dict in an ordered fashion

OrderedDict([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
od['a'] = 4
od

OrderedDict([('a', 4), ('b', 2), ('c', 3)])

# **deque**

In [ ]:
from collections import deque

In [ ]:
l = [1,2,3,4,5,6]
d = deque(l)
d

deque([1, 2, 3, 4, 5, 6])

In [ ]:
d.append(7)
d

deque([1, 2, 3, 4, 5, 6, 7])

In [ ]:
d.appendleft(0)
d

deque([0, 1, 2, 3, 4, 5, 6, 7])

In [ ]:
d.pop()
d

deque([0, 1, 2, 3, 4, 5, 6])

In [ ]:
d.popleft()
d

deque([2, 3, 4, 5, 6])

In [ ]:
d.append(2)
d

deque([2, 3, 4, 5, 6, 2])

In [ ]:
d.count(2)

2

# **chainmap**

In [ ]:
d1 = {'a':1, 'b' : 2}
d2 = {'c': 3, 'd': 4}

In [ ]:
from collections import ChainMap    #used to join dicts
cmap = ChainMap(d1,d2)

In [ ]:
cmap.maps

[{'a': 1, 'b': 2}, {'c': 3, 'd': 4}]

In [ ]:
d3 = {'e' : 5, 'f' : 6}
cmap = cmap.new_child(d3)

In [ ]:
cmap.maps

[{'e': 5, 'f': 6}, {'a': 1, 'b': 2}, {'c': 3, 'd': 4}]

In [ ]:
list(cmap.keys())

['c', 'd', 'a', 'b', 'e', 'f']

In [ ]:
list(cmap.values())

[3, 4, 1, 2, 5, 6]

# **Map Function**

>The map function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list.

In [ ]:
def square(num): 
    return num**2

In [ ]:
l1 = [1,2,3,4,5]
for i in l1:
    print(square(i))

1
4
9
16
25

In [ ]:
list(map(square, l1)) #syntax is map(function, iterator) here iterator means, 
                      #the name of list or dict on which the function is to be runned
                      #so with the help of this we can avoid for loop

[1, 4, 9, 16, 25]

In [ ]:
def first_word(s):
    return s.split()[0]

In [ ]:
ls = ['John Wick', 'Baba Yaga', ' Gaurav Bhogale']
list(map(first_word, ls))

['John', 'Baba', 'Gaurav']

# **Filter Function**

> The filter function returns an iterator yielding those items of iterable for which function(item) is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [ ]:
def even(num):
    return num % 2 == 0

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9888]

list(filter(even,l1))

[2, 4, 6, 8, 9888]

In [ ]:
list(map(even, l1))

[False, True, False, True, False, True, False, True, True]

In [ ]:
def prime(n):
    if n==0 or n==1:
        return False

    else:
        for i in range(2,int(n**0.5)+1):
            if n%i==0:
                return False
                break
        else:
            return True

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10,13,18,17]

list(filter(prime, l))

[2, 3, 5, 7, 13, 17]

In [ ]:
l = [0,1,2,0,3]
list(filter(square,l))  # as any number other than zero is considered as true
                        # so only numbers 1,2,3 are printed as only those no.s will have sq other than zero and give output of true

[1, 2, 3]

**zip**

In [ ]:
l1 = [1,2,3,4,5]
l2 = [3,4,5,6,7]

In [ ]:
list(zip(l1,l2))

[(1, 3), (2, 4), (3, 5), (4, 6), (5, 7)]

In [ ]:
dict(zip(l1,l2))

{1: 3, 2: 4, 3: 5, 4: 6, 5: 7}

# **Lambda Expressions**

> A lambda function is a small anonymous function.

  A lambda function can take any number of arguments, but can only have one expression.

In [ ]:
a = lambda num : num ** 2

a(2)

4

In [ ]:
b = lambda num1, num2, num3 : num1+num2+num3

b(1,2,3)

6

In [ ]:
c = lambda : print('lambda has no name')

c()

lambda has no name

In [ ]:
d = lambda *nums : sum(nums)  #here we used args
d(1,2,3,4,5)

15

In [ ]:
l = [1,2,3,4,5,6,7,8,9]
list(map(lambda num : num**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
list(filter(lambda num: num % 2 == 0, l))

[2, 4, 6, 8]

In [ ]:
ls = ['Hello i am John wick',
     'they killed my dog',
     'so i killed all of them']

list(map(lambda s : s.split()[0], ls))

['Hello', 'they', 'so']

In [ ]:
list(filter(lambda s : len(s.split()) % 2 == 0, ls))

['they killed my dog', 'so i killed all of them']